/*
    The Site.css file is used to describe site-wide styling to be applied as needed.
    It includes styling for things like the navbar, buttons, headers, and paragraphs.
*/
body {
    background-color:black;
}
#button1 {
    background-color: #B90E0A;
    border: none;
    color: white;
    border: 2px solid #B90E0A;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: .5s;
    border-radius: 8px;
    font-family: "Open Sans";
}
#button1:hover {
    background-color: black;
    cursor:pointer;
}
#p1 {
    font-size:200%;
    font-family: "Open Sans";
    color: lightgrey;
}
#p2 {
    font-size: 120%;
    font-family: "Open Sans";
    font-weight:lighter;
    color: dimgrey;
    text-align:left;
    padding:10px;
}
.font {
    font-family: "Open Sans";
    font-weight: normal;
}
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pad {
    padding: 15px;
}
.item {
    color: white;
}